body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.logo {
    width: 100px; /* Adjust as needed */
    height: auto;
}
nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
